.about {
   width: 100%;
   display: block;
   overflow: auto;
   color: #ebecee;
   background-color: #242c3a;
   padding-bottom: 4rem;
}
.about h1 {
   font-family: "IBM Plex Mono", monospace;
   font-size: 10vw;
   font-weight: normal;
   margin: 4rem 2rem 4rem 2rem;
   border-bottom: solid;
   border-width: 5px;
   border-color: #f15946;
}
.about h2 {
   font-family: "Helvetica", sans-serif;
   font-size: 6vw;
   margin: 2rem 2rem 1rem;
   text-align: center;
}
.about h2:last-child {
   margin: 1rem 2rem 2rem;
}
.about h3 {
   font-family: "EB Garamond", serif;
   padding: 1rem 2rem;
   text-align: center;
}
.about p {
   font-family: "Helvetica", sans-serif;
   font-size: 1.2rem;
   padding: 1rem 2rem;
   text-indent: 2rem;
   line-height: 1.5rem;
   color: #d7d8db;
}
.imgDiv {
   text-align: center;
}
.about img {
   display: block;
   max-width: 512px;
   width: 100%;
   height: auto;
   margin: 0 auto;
}
.colored {
   border-bottom: solid;
   border-width: 5px;
   border-color: #f15946;
   /* padding: none; */
   margin: 2rem auto;
}
