/*  Overall Section Styling */
.contact {
   width: 100%;
   display: block;
   overflow: auto;
   color: #ebecee;
   background-color: #242c3a;
   padding-bottom: 4rem;
}
.contact h1 {
   font-family: "IBM Plex Mono", monospace;
   font-size: 10vw;
   font-weight: normal;
   margin: 4rem 2rem 3rem 2rem;
   border-bottom: solid;
   border-width: 5px;
   border-color: #1baa65;
}
.contact img {
   display: block;
   width: 40vw;
   height: auto;
   margin: auto;
}
.contact p {
   padding: 0 2rem 2rem;
   text-align: center;
   font-family: "Helvetica", sans-serif;
   font-size: 1.25rem;
   font-weight: bold;
   line-height: 2.2rem;
}
.contact p:nth-of-type(2) {
   font-size: 1.1rem;
   font-weight: normal;
   line-height: 1.65rem;
   padding-bottom: 0;
   color: #d7d8db;
}
.contactList {
   margin: 2rem;
   display: grid;
   grid-template: 1fr 1fr / 1fr 1fr;
   grid-gap: 2rem 2rem;
   justify-items: center;
}
.contactList li img {
   max-width: calc(42vw - 3rem);
   height: auto;
}
.contactList a:nth-child(1):hover .contactHover,
.contactList a:nth-child(2):hover .contactHover,
.contactList a:nth-child(3):hover .contactHover,
.contactList a:nth-child(4):hover .contactHover {
   filter: grayscale(200%) brightness(170%);
}
