header a {
   color: #ebecee;
   z-index: 1;
}
header a:link {
   text-decoration: none;
}
header a:visited {
   text-decoration: none;
}
header a:hover {
}
header a:active {
}

header {
   min-height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-weight: normal;
   background-image: linear-gradient(#0c0f14, #242c3a);
   color: #ebecee;
   text-align: center;
}

header h1 {
   z-index: 1;
   text-align: center;
   margin: 4rem auto;
   font-family: "IBM Plex Mono", monospace;
   font-size: 6vw;
   letter-spacing: 0.3rem;
   perspective: 10rem;
   font-weight: normal;
   overflow: hidden;
   white-space: nowrap;
   border-right: 0.075em solid #ebecee;
   animation: typing 2.35s steps(19, end), blink-caret 1s step-end infinite;
}
header h2 {
   z-index: 1;
   margin: 4rem 1rem;
   font-family: "Helvetica", sans-serif;
   font-size: 2.75vh;
   font-weight: normal;
   perspective: 10rem;
   animation: fade-in 3s ease-in;
}
header h3 {
   z-index: 1;
   margin: 4rem 0;
   font-family: "Helvetica", sans-serif;
   font-size: 2.2vh;
   font-weight: normal;
   perspective: 10rem;
   animation: fade-in 3s ease-in;
}

.viewPortfolio {
   transition: width 0.2s, height 0.2s;
}

.viewPortfolio:hover {
   font-size: 2.4vh;
}

.downArrow {
   z-index: 1;
   width: 48px;
   height: 48px;
   margin: 0 auto;
   margin-top: 4rem;
   background-image: url("images/down-arrow.svg");
   background-size: cover;
   fill: #ebecee;
   perspective: 10rem;
   animation: fade-in 3s ease-in;
}

.downArrow:hover {
   width: 56px;
   height: 56px;
}

#headerVideo {
   /* z-index: 1;
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   -webkit-transform: translateX(-50% translateY(-50%));
   transform: translateX(-50% translateY(-50%)); */
   display: none;
   position: absolute;
   width: 100%;
   opacity: 0.65;
}

@media (min-width: 62em) {
   #headerVideo {
      display: block;
   }
}

/* The typing effect */
@keyframes typing {
   from {
      width: 0;
   }
   to {
      width: 90%;
   }
}
@media only screen and (min-width: 768px) {
   @keyframes typing {
      from {
         width: 0;
      }
      to {
         width: 80%;
      }
   }
}
@media only screen and (min-width: 1024px) {
   @keyframes typing {
      from {
         width: 0;
      }
      to {
         width: 75%;
      }
   }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
   from,
   to {
      border-color: #ebecee;
   }
   50% {
      border-color: transparent;
   }
}

/* The fade in effect */
@keyframes fade-in {
   from,
   to {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
