/*  Overall Section Styling */
.skills {
   width: 100%;
   display: block;
   overflow: auto;
   color: #ebecee;
   background-color: #373f4b;
}
.skills h1 {
   font-family: "IBM Plex Mono", monospace;
   font-size: 10vw;
   font-weight: normal;
   margin: 4rem 2rem 3rem 2rem;
   border-bottom: solid;
   border-width: 5px;
   border-color: #f3ce4c;
}
.skills p {
   padding: 0 2rem 3rem;
   text-align: center;
   font-family: "Helvetica", sans-serif;
   font-size: 1rem;
   line-height: 1.65rem;
}
/* Syling for Each Skill */
.skill {
   display: flex;
   width: 100%;
   height: auto;
   justify-content: space-evenly;
}
.skill img {
   width: 30vw;
   height: 25vh;
   margin: 1rem 2rem;
}
.skill ul {
   display: flex;
   max-width: 40vw;
   justify-content: center;
   flex-flow: column;
   margin: 1rem 0;
}
.skill li {
   font-family: "Helvetica", sans-serif;
   font-size: 1rem;
   line-height: 2rem;
   font-weight: bold;
}
.odd {
   background-color: #5f656f;
   text-align: left;
}
.even {
   text-align: right;
}
.skill:last-child {
}
