*,
*::before,
*::after {
   margin: 0;
   padding: 0;
}
a:link {
   text-decoration: none;
}

a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

a:active {
   text-decoration: underline;
}
ul,
li {
   list-style-type: none;
}
footer {
   text-align: center;
   font-family: "Helvetica", sans-serif;
   font-size: 1.2rem;
   padding: 1rem;
   background-color: #373f4b;
   color: #d7d8db;
}
